.contact__container{
    width: 68%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
 
}
.con{
    margin-top: -280px;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact__option{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    text-align: center;
    border-radius: 1.2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__option:hover{
    background: transparent;
    background-color:#24b676;
    color:black
}
.cantact__icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.con h3{
    font-size: 26px;

}

form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
input , textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background:whitesmoke;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: white;
    font-size: 1rem;
}
.con{
    color: white;
    text-align: center;
    padding-bottom: 15px;
}


/* medium device TABLATE */
@media screen and (max-width:1024px) {
   .contact__container{
    grid-template-columns: 1fr;
    gap: 2rem;
   }
    }
    
    /* small device MOBILE */
    @media screen and (max-width:600px) {
        .contact__container{
            grid-template-columns: 1fr;
            width: var(--container-width-sm);
           }
       /* section{
        margin-top: 20%;
       }
       */
       #contact{
        margin-top: 32rem;
       }
    }