header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header__container {
  color: white;
  max-width: 600px;
}

.header__container h5 {
  font-size: 1.5rem;
}

.header__container h1 {
  font-size: 3rem;
  font-weight: bold;
}

.text-light {
  font-size: 1.2rem;
}

.cta {
  margin-top: 2rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.scroll__down {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1rem;
  color: aqua;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .header__container h1 {
    font-size: 2.5rem;
  }
  
  .header__container h5 {
    font-size: 1.2rem;
  }
}
