nav{
    position: sticky;
  top: 0;
  background:transparent;
  display: flex;
  padding: 0.7rem 1.8rem ;

  gap: 1.2rem;
  
  
 
   
}

nav a{
    color: white;
    padding: 0.4rem;
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    font-size: 24px;
    font-weight: bold;
   
}
nav a:hover{
color: aqua;
}

nav a.active{
   
    color: var(--color-deepblue);
}